{{ define "main" }}
    {{ with .Content }}
        <div class="custom-content">{{ . }}</div>
        <hr class="section-break">
    {{ end }}

    {{ $photo_posts := where .Site.RegularPages "Params.tags" "intersect" (slice "Photos") }}
    {{ $paginator := .Paginate $photo_posts }}
    
    {{ range $paginator.Pages }}
        <article>

            <div class="content">
		<div class="gallery">
                    {{ .Content }}
                </div>
            </div>

	    <footer class="post-footer">
                {{ $link := .RelPermalink }}
                {{ with .Params.toot }}{{ $link = . }}{{ end }}
                    <a href="{{ $link }}" class="meta-link">
                        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
                    </a>
            </footer>


        </article>
    {{ end }}

    {{ partial "pagination.html" . }}
{{ end }}