{{ define "main" }}
    {{ with .Content }}
        <div class="custom-content">{{ . }}</div>
        <hr class="section-break">
    {{ end }}

    {{ $poploser_posts := where .Site.RegularPages "Params.categories" "intersect" (slice "Pop Loser") }}
    {{ $paginator := .Paginate $poploser_posts }}
    
    {{ range $paginator.Pages }}
        <article>
            
            <div class="content">
                {{ .Content }}
            </div>

            <footer class="post-footer">
                <a href="{{ .RelPermalink }}" class="meta-link">
                    <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
                </a>
            </footer>
        </article>
    {{ end }}

    {{ partial "pagination.html" . }}
{{ end }}